/* CSS reset code */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* end reset code */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f0f0;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(1fr, auto) 1fr;
}

header {
    background: #0c233f;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 80% 20%;
}

header h1 {
    color: white;
    
    /* width: 80%; */
    line-height: 80px;
    padding: 0 0 0 32px;
    font-size: 32px;
    /* border-bottom: 20px solid #E5D9BD; */
}

header button {
    box-sizing: content-box;
    width: 160px;
    height: 35px;
    margin: auto;

    background-color: #afb7c2;
    color: black;
    border-color: black;
}

.formLogin {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 260px)/2);
    width: 200px;
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

button {
    background-color: #0c233f;
    color: white;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: #374a63;
}

button:active {
    background-color: #4d5f75;
    border-color: #0c233f;
}

input, select {
    padding: 10px 0;
    background-color: white;
    border: none;
    outline: none; 
}

input:focus, select:focus {
    background-color: #f0f0f0;
}

.formLogin > label:first-child {
    margin: 0 0 0 0;
}

.formLogin > label, .formLogin > button:first-of-type {
    margin: 10% 0 0 0;
}

.formLogin > label:last-of-type {
    margin: 25% 0 0 0;
}

.formLabCheckin {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 480px)/2);
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

.formLabCheckin > :first-child, .formLabCheckin > :nth-child(2) {
    grid-column: 1 / -1;
    width: 160px;
    margin: 0 calc((100% - 160px)/2);
}

.formLabCheckin > button {
    margin: 20px 20px 0 20px;
}

.formLabCheckin2 {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 480px)/2);
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

.formLabCheckin2 > * {
    margin: 0 20px 0 20px;
}

.formLabCheckin2 > input, .formLabCheckin2 > select {
    margin-bottom: 20px;
}

#log, #logModify {
    grid-column: 2 / -2;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0c233f;
    padding: 5px 5px 3px 5px;
    margin: 0 calc((100% - 700px)/2);
    width: 700px;
}

#log > li, #logModify > li, .alsoLog {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#log > li > *, #logModify > li > *, .alsoLog > * {
    padding: 5px;
    /* border: 2px solid #0c233f; */
    /* border-top: 2px solid #0c233f; */
    border-bottom: 2px solid #0c233f;
}

.alsoLog {
    background-color: #fcfcfc;
    border: 2px solid #0c233f;
}

.alsoLog > p {
    border: none;
}

#log > li:nth-child(even), #logModify > li:nth-child(even) {
    background-color: #fcfcfc;
}

#log > li:nth-child(odd), #logModify > li:nth-child(odd) {
    background-color: #afb7c2;
}

#logModify > li > p {
    transition: padding .3s ease-in, color .3s ease-in;
}

#logModify > li.logHover:hover {
    color: #0350af;
}

#logModify > li.logHover:hover > p {
    padding: 10px;
}

#selectedLog {
    color: #0350af;
}

#selectedLog > p {
    padding: 10px;
}

.errorMessage {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 10px calc((100% - 650px)/2);
    width: 600px;
    display: grid;
    grid-template-columns: 500px 100px;
    grid-template-rows: auto;
    color: white;
    background-color: red;
    padding: 20px;
    border: 5px solid lightcoral;
    /* border-radius: 10px; */
}

.errorMessage > button {
    color: black;
    background-color: lightcoral;
    border: 5px solid lightpink;
}

/* Search page */

.formLabLogSearch {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 480px)/2);
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

.formLabLogSearch > * {
    margin: 0 20px 0 20px;
}

.formLabLogSearch > input, .formLabLogSearch > select {
    margin-bottom: 20px;
}

.formLabLogSearch > h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    text-align: center;
}

#data > h2, #data > p {
    grid-column: 1 / -1;
    text-align: center;
}

/* Authentication Modal */
#formSearchAuth {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 480px)/2);
    width: 400px;
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

#formSearchAuth > h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 5px;
}

#formSearchAuth > input {
    grid-column: 2 / -2;
}

#formSearchAuth > button {
    grid-column: 2 / -2;
    margin: 20px 20px 0 20px;
}

/* Log Modification */

.modifyLog {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 480px)/2);
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

.modifyLog > input:first-of-type, .modifyLog > label:first-of-type {
    grid-column: 1 / -1;
    width: 160px;
    margin: 0 calc((100% - 160px)/2) 20px calc((100% - 160px)/2);
}

.modifyLog > label:first-of-type {
    margin: 0 calc((100% - 160px)/2);
}

.modifyLog > * {
    margin: 0 20px 0 20px;
}

.modifyLog > input, .modifyLog > button {
    margin-bottom: 20px;
}

.modifyLog > h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    text-align: center;
}

/* Delete Modal */

#deleteModal {
    grid-column: 2 / -2;
    box-sizing: content-box;
    margin: 32px calc((100% - 780px)/2);
    width: 700px;
    display: grid;
    grid-template-columns: 150px 200px 200px 150px;
    grid-template-rows: auto;
    background-color: #afb7c2;
    padding: 30px;
    border: 10px solid black;
    border-radius: 10px;
}

#deleteModal > h2 {
    margin-bottom: 5px;
}

#deleteModal > h2, #deleteModal > li {
    grid-column: 1 / -1;
}

#deleteModal > button {
    margin: 20px 20px 0 20px;
}
    